body{
	background-color: #ffff99;
	text-align: center;
				}
h1{ 
	color: #4d94ff;
	font-size: 50px; 
	text-align: center;
	
			}
p{ 
	color: #4d94ff;
	font-size: 22px;
	border: 10px double dotted #d580ff;
	padding: 50px;
	margin: 25px;	
	width: 500px;
	border-radius: 50%;
	
			}
