body{
	 background: rgb(2,0,36);
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(251,245,21,1) 0%, rgba(254,255,239,1) 50%, rgba(9,197,215,1) 100%, rgba(0,212,255,1) 100%); 
	text-align: center;
				}
h1{ 
	color: #4d94ff;
	font-size: 50px; 
	
	
			}
p{ 
	color: #4d94ff;
	font-size: 22px;
	border: 10px dotted #d580ff;
	padding: 50px;
	margin: 25px;	
	width: 500px;
	border-radius: 50%;
	font-weight: bold;
	text-align: center;
			}
