body{
	background-image: ColorGradient.jpeg ;
	text-align: center;
				}
h1{ 
	color: #4d94ff;
	font-size: 50px; 
	box-align: center;
	
			}
p{ 
	color: #4d94ff;
	font-size: 22px;
	border: 10px dotted #d580ff;
	padding: 50px;
	margin: 25px;	
	width: 500px;
	border-radius: 50%;
	font-weight: bold;
			}
