body{
	background-color: #ffff5c ;
	text-align: center;
				}
h1{ 
	color: blue;
	font-size: 50px; 
	text-align: center;
			}
p{ 
	color: blue;
	font-size: 22px;
	text-align: center;
	border: 10px double purple;
	padding: 50px;
	margin: 25px;	
	width: 500px;
	border-radius: 50%;
	
			}
